{
  "rewriteProperties":"yes",
  "liveHIT":"no",
  "title":"Language study - Causes 319",
  "description":"Travel to far away planets and answer hypothetical questions.",
  "nameofexperimentfiles":"pilot-causals-2",
  "experimentURL":"https://www.stanford.edu/~mtessler/causals/experiments/causals-2.html",
  "keywords":"language research stanford fun cognitive science experiment reasoning",
  "USonly?":"yes",
  "minPercentPreviousHITsApproved":"95",
  "frameheight":"650",
  "reward":"0.40",
  "numberofassignments":"9",
  "assignmentduration":"1800",
  "hitlifetime":"172800",
  "autoapprovaldelay":"300",
  "conditions":"cond"
}
